<p fundoAmarelo>texto com fundo amarelo</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<p highlightMouse>
    Texto com highlight quando passo mouse.
</p>

<!--p highlight [defaultColor]="'grey'" [highlightColor]="'pink'">
    Texto com highlight com cores customizadas.
</p>-->

<p [highlight]="'pink'" [defaultColor]="'grey'">
    Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCursos">
    Mostrar cursos.
</div>
<div *ngElse="mostrarCursos">
    Não mostrar cursos.
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br>

