<h1>{{ title }}</h1>
<br><br>

<section style="display: none;">
    <article>
        <h3>NgClass</h3>
        <app-diretiva-ngclass></app-diretiva-ngclass>
    </article>
</section>
<br><br>
<section style="display: none;">
    <article>
        <h3>NgFor</h3>
        <app-diretiva-ngfor></app-diretiva-ngfor>
    </article>
</section>
<br><br>
<section style="display: none;">
    <article>
        <h3>NgSwitch</h3>
        <app-diretiva-ngswitch></app-diretiva-ngswitch>
    </article>
</section>
<br><br>
<section style="display: none;">
    <article>
        <h3>NgIf</h3>
        <app-diretiva-ngif></app-diretiva-ngif>
    </article>    
</section>
<section style="display: none;">
    <article>
        <h3>NgStyle</h3>
        <app-diretiva-ngstyle></app-diretiva-ngstyle>
    </article>    
</section>
<section style="display: none;">
    <article>
        <h3>Operador Elvis</h3>
        <app-operador-elvis></app-operador-elvis>
    </article>    
</section>
<section>
    <article>
        <h3>NgContent</h3>
        <app-diretiva-ngcontent>
            Conteúdo passado para o componente
            <app-operador-elvis></app-operador-elvis>
        </app-diretiva-ngcontent>
    </article>    
</section>
<section>
    <article>
        <h3>NgContent com Selector</h3>
        <app-diretiva-ngcontent>
            <div class="titulo">Título 1 com Selector</div>
            <div class="titulo">Título 2 com Selector</div>
            <div class="corpo">
                Conteúdo passado para o componente
                <app-operador-elvis></app-operador-elvis>
            </div>           
        </app-diretiva-ngcontent>
    </article>    
</section>

